<% layout("/layouts/boilerplate") %>
<h3>All Listings</h3>


<form class="card newButton" method="GET" action="/listings/new">
  Create New Listing
</form>

<% for(let listing of allListings) { %>
<div class="card">
  <img src="<%= listing.img %>" alt="" class="card-img-top pimg"/>
  <div class="card-body">
    <p class="card-text">
      <%= listing.title %>
    </p>
    Price: <%= listing.price %>
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button>Delete</button>
    </form>
    <a href="/listings/<%= listing._id %>/edit"><button>Edit</button></a>
  </div>
</div>
<% } %>


